
.actions-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 25%;
    /*background-color: #fce6d2;*/
    border-radius: 20px;

}


.action-button {
    background-color: #e5872d;
    width: 100%;
    height: 18%;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

.action-button:hover:not(.clicked) {
    background-color: #c27227;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.action-button:active , .clicked{
    background-color: #f6aa55;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    transform: scale(1.0);
    box-shadow: 0 0 20px 10px rgba(248, 172, 87, 0.2) /* Glow effect */

}

