.app {
  background-color: #0194CA;
  height: 100vh;
  width: 100vw;
}

.gameLayout{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.board-div{
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: #0194CA;
}

.turn-label{
  position: relative;
  margin-bottom: auto;
  margin-top: 30px;
}

.map{
  position: absolute;
  width: 720px;
  height: 665px;
}

.board-background{
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate( 0%, -50%);
}

.gameplay-div{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 95%;
  margin-left: 5%;
  /*!*margin-top: 5%;*/
  margin-right: 3%;
  /*background-color: lightpink;*/
}

.actions-chat-container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65%;
  /*background-color: lightblue;*/
  margin-bottom: 5%;
}

.actions-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 25%;
  /*background-color: #fce6d2;*/
  border-radius: 20px;

}


.chat-div{
  width: 60%;
  height: 90%;
  background-color: #fffdfd;
  border-radius: 20px;
  font-family: Verdana, sans-serif;
  padding: 20px
}

.cards-div{
  height: 20%;
  width: 100%;
  background-color: #fffdfd;
  border-radius: 20px;
}


.spots{
  position:absolute;
  width: 720px;
  height: 665px;
}


/*.actionMenu{*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  width: 400px;*/
/*  gap: 50px;*/
/*  margin-left: 50px;*/
/*  margin-top: 50px;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*.button-icon {*/
/*  width: 80px;*/
/*  height: 80px;*/
/*}*/

/*.action-bar {*/
/*  position: fixed;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  !*background-color: #806565;*!*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  padding: 10px;*/
/*}*/

/*.actionButton {*/
/*  margin: 10px;*/
/*  display: inline-block;*/
/*  border: none;*/
/*  background-color: #fffdfd;*/
/*  border-radius: 5px;*/
/*  cursor: pointer;*/
/*  transition: transform 0.1s ease, box-shadow 0.1s ease;*/
/*  padding: 10px;*/
/*}*/

/*.actionButton:hover, .clicked {*/
/*  !*background-color: #777;*!*/
/*  transform: scale(0.9);*/
/*}*/