.app {
  background-color: #e7cec2;
  height: 100vh;
  width: 100vw;
}

.gameLayout{
  display: flex;
  flex-direction: column;
}

.actionMenu{
  display: flex;
  flex-direction: row;
  width: 400px;
  gap: 50px;
  margin-left: 50px;
  margin-top: 50px;
  justify-content: center; /* Horizontally center the items */
  align-items: center;
}

.gameAction{
  width: 100px;
}

.actionIcon{
  width: 80px;
}

.image-button {
  display: inline-block;
  border: none;
  background-color: #faf3f2; /* Green background */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smoother effects */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  padding: 20px;
}

.image-button:hover {
  transform: scale(0.9);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Darker box shadow on hover */
}

.button-icon {
  width: 80px; /* Adjust size of the icon */
  height: 80px; /* Adjust size of the icon */
}

.action-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /*background-color: #806565;*/
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  padding: 10px; /* Add padding for spacing */
}

.action-button {
  margin: 10px;
  display: inline-block;
  border: none;
  background-color: #fffdfd;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease; /* Add transition for smoother effects */
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); !* Add a subtle box shadow *!*/
  padding: 10px;
}

.action-button:hover, .clicked {
  /*background-color: #777;*/
  transform: scale(0.9);
}

.map{
  position: relative;
  width: 550px;
  height: 500px;
  /*background-color: rgba(8, 69, 169, 0.8)*/
}

.hexTile {
  width: 104px;
  height: 120px;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.numberToken{
  width: 30px;
  position: absolute;
}

.road {
  width: 10px;
  height: 60px;
  background-color: #939d91;
  position: absolute;
}

.hexTileRow{
  clear: both;
  text-align: center;
}

