.app {
  height: 100vh;
  width: 100vw;
  font-family: Verdana, sans-serif;
}

.gameLayout{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: #0194CA;
}

.board-div{
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: #0194CA;
}

.map{
  position: absolute;
  width: 720px;
  height: 665px;
}

.board-background{
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate( 0%, -50%);
}

.gameplay-div{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 95%;
  margin-left: 5%;
  /*!*margin-top: 5%;*/
  margin-right: 3%;
  /*background-color: lightpink;*/
}

.actions-chat-container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65%;
  /*background-color: lightblue;*/
  margin-bottom: 5%;
}

.actions-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 25%;
  /*background-color: #fce6d2;*/
  border-radius: 20px;

}


.chat-div{
  width: 60%;
  height: 90%;
  background-color: #fffdfd;
  border-radius: 20px;
  font-family: Verdana, sans-serif;
  padding: 20px
}



.spots{
  position:absolute;
  width: 720px;
  height: 665px;
}

