
.chat-div {
    display: flex;
    width: 60%;
    height: 90%;
    background-color: #fffdfd;
    border-radius: 20px;
    font-family: Verdana, sans-serif;
    padding: 20px
}

.player-info-div{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: #cccccc;
    /*justify-content: space-between;*/
    /*border-radius: 20px;*/
}

.player{
    /*aspect-ratio: 1 / 1;*/
}

.avatar-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.avatar{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.player-info{
    font-weight: bold;
    font-size: 12px;
    /*margin: 5px 0 5px 0;*/
}

.player-name{
    font-weight: bold;
    font-size: 12px;
}

.trade-list{
    width: 80%;
    height: 100%;
    padding: 20px
}

.trade-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    background-color: #e5872d;
    border-radius: 20px;
    padding: 20px;
    color: #fffdfd;
}

.trade-item:last-child {
    border-bottom: none;
}

.accept-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 15px;
}

.reject-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

.accept-button:hover,
.reject-button:hover {
    opacity: 0.7;
}

.accept-button:active,
.reject-button:active{
    opacity: 0.5;
    transform: scale(0.9);
}