.hexagon {
  width: 104px;
  height: 120px; /* Adjust height to control aspect ratio */
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.road {
  width: 10px;
  height: 60px;
  background-color: #939d91;
  position: absolute;
}

.road-row{
  clear: both;
  text-align: center;
}

.hexagon-row{
  clear: both;
  text-align: center;
}

