

.settlements{
    position:absolute;
    width: 720px;
    height: 665px;
    pointer-events: none;
}

.settlement-spot{
    position:absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.settlement{
    position:absolute;
    width: 30px;
    height: 30px;
    background-color: #910000;
    border-radius: 50%;
    /*z-index: 10;*/
}
.star {
    position: absolute;
    width: 40px;
    height: 40px;
    clip-path: polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%
    );
}
.rhombus {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
}