

.settlement-spot{
    position:absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    /*color: red;*/
}

.settlement{
    position:absolute;
    width: 30px;
    height: 30px;
    background-color: #910000;
    border-radius: 0;
    z-index: 10;
}