.roads{
    position:absolute;
    width: 720px;
    height: 665px;
    pointer-events: none;
}

.road-spot{
    position:absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    cursor: pointer;
    animation: pulse 3s infinite;
}



.road{
    position:absolute;
    width: 15px;
    height: 60px;
    background-color: red;
    border-radius: 0;
}