
.dice-layout{
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: auto 0 0 auto;
    align-items: center;
}

.dice-container{
    display: flex;
    flex-direction: column;
}


.dice{
    width: 80px;
    height: 80px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.dice-dot{
    --top: 0%;
    --left: 0%;

    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;

    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1)) ;
}

.btn-roll-dice{
    margin-top: 10px;
}